extends layout

block content
  article.bespoke-parent
    section(data-bespoke-state='')
      .content
        .byline
          .classy This talk is called:
        h1
          | Rolling your own
          strong  Grid
        .byline
          .classy with this guy:
        .me
        .byline
          a(href='http://codename.io') http://codename.io
          a(href='https://twitter.com/glenmaddern') @glenmaddern
          a(href='http://github.com/geelen') geelen

    section(data-bespoke-state='')
      .content
        .byline
          .classy Who am I?
        .steps(data-bespoke-bullet)
          h2(data-bespoke-bullet) • Previously a back-end engineer
          h2(data-bespoke-bullet) • Now a front-end engineer
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy Which is to say
        h1 it is
          strong  usable
        .byline
          .classy but
        h1 not
          strong  easy to use
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy But first
        h1 let's talk about
          strong  Yeoman
        .unbrokenline

    section(data-bespoke-state='')
      .iframe-holster
        h4 http://yeoman.io
        iframe(src='http://yeoman.io/')

    section(data-bespoke-state='success')
      .content
        .unbrokenline
        h1
          strong Thank You!
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy Also:
        h1
          strong ngMelb
          |  is next Wednesday
        .byline
          .classy &
        h1
          strong CampJS
          |  is August 9th
        .unbrokenline

    section(data-bespoke-state='copter')
      .content
        .byline
          .classy For more information:
        h3 https://github.com/geelen/assemble-talk
        .byline
          .classy or hit me up on Twitter
        .me
        h3
          a(href='https://twitter.com/glenmaddern') @glenmaddern
