extends layout

block content
  article.bespoke-parent
    section(data-bespoke-state='')
      .content
        .byline
          .classy This talk is called:
        h1
          | Rolling your own
          strong  Grid
        .byline
          .classy with this guy:
        .me
        .byline
          a(href='http://codename.io') http://codename.io
          a(href='https://twitter.com/glenmaddern') @glenmaddern
          a(href='http://github.com/geelen') geelen

    section(data-bespoke-state='')
      .content
        .byline
          .classy Who am I?
        .steps(data-bespoke-bullet)
          h2(data-bespoke-bullet) • Hated the web (~2005)
          h2(data-bespoke-bullet) • Yay maths! (~2008)
          h2(data-bespoke-bullet) • Web, eh? (~2010)
          h2(data-bespoke-bullet) • Startups, eh? (~2011)
          h2(data-bespoke-bullet) • Front-end eh? (~2013)
        .unbrokenline

    section(data-bespoke-state='')
      .content(data-bespoke-bullet)
        .byline
          .classy What excites me?
        .steps
          .step(data-bespoke-bullet)
            h2 Designers
          .step(data-bespoke-bullet)
            .byline
              .classy +
            h2 Engineers
          .step(data-bespoke-bullet)
            .byline
              .classy working
            h2
              strong together
            .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy My Rule #1
        h2 the
          strong  closer
          |  designers + engineers work
        .unbrokenline
        h2 the
          strong  better
          |  they understand each other
        .unbrokenline
        h2 the
          strong  better
          |  the result
        .unbrokenline

    section(data-bespoke-state='')
      .content
        h2 Grids affect both design & build
        h2 Usually chosen early on
        h2 Hard to change later

    section(data-bespoke-state='')
      .content
        h2 There are a lot of grid systems out there
        h2 We're going to look at a few, then build our own
    section(data-bespoke-state='')
      .content
        h2 First up,
        h2 We're going to look at how a few work, then build our own
    section(data-bespoke-state='')
      .content
        h2 Grids' columns:
        h2 Fixed width
        h2 Multiple-width
        h2 Fluid width
    section(data-bespoke-state='')
      .content
        h2 Responsive grids can have
        h2 Fixed # columns
        h2 Semi-fixed # columns
        h2 Flexible # columns
    section(data-bespoke-state='code')
      .content
        table
          thead
            tr
              td
              td Fixed width cols
              td Multiple-width
              td Fluid columns
          tbody
            tr
              td Fixed number
              td
                a(href="http://960.gs/demo.html", target="_blank") 960.gs
              td ?
              td
                a(href="http://purecss.io/grids/#grids-on-mobile", target="_blank") Pure.css
            tr
              td Semi-fixed
              td
                a(href="http://www.getskeleton.com/", target="_blank") Skeleton
              td
                a(href="http://getbootstrap.com/2.3.2/scaffolding.html#gridSystem", target="_blank") Bootstrap 2.3
              td
                a(href="http://purecss.io/grids/#pure-responsive-grids", target="_blank") Pure Responsive
            tr
              td Flexible number
              td
                a(href="http://framelessgrid.com/", target="_blank") Frameless
              td
                a(href="http://getbootstrap.com/css/#grid", target="_blank") Bootstrap 3
              td
                a(href="http://goldengridsystem.com/", target="_blank") Golden Grid
    section(data-bespoke-state='')
      .content
        h2 Class-based vs mixin-based
        h2 Floats vs inline-block
        h2 Spacers vs push/pulls
        h2 Rows vs modules
    section(data-bespoke-state='')
      .content
        h2 Let's build!
        h2 Fixed width, flexible number grid
        h2 Semantic, float-based, modular
    section(data-bespoke-state='')
      .content
        h2 First up,
        h2 We're going to look at how a few work, then build our own
    //
    //section(data-bespoke-state='')
    //  .iframe-holster
    //    h4 http://yeoman.io
    //    iframe(src='http://yeoman.io/')

    section(data-bespoke-state='success')
      .content
        .unbrokenline
        h1
          strong Thank You!
        .unbrokenline
    //
    //section(data-bespoke-state='')
    //  .content
    //    .byline
    //      .classy Also:
    //    h1
    //      strong ngMelb
    //      |  is next Wednesday
    //    .byline
    //      .classy &
    //    h1
    //      strong CampJS
    //      |  is August 9th
    //    .unbrokenline

    section(data-bespoke-state='copter')
      .content
        .byline
          .classy I have been
        .me
        h3
          a(href='https://twitter.com/glenmaddern') @glenmaddern
        h3
          a(href='http://codename.io') team@codename.io
        .unbrokenline
