extends layout

block content
  article.bespoke-parent
    section(data-bespoke-state='')
      .content
        .byline
          .classy This talk is called:
        h1
          | Rolling your own
          strong  Grid
        .byline
          .classy with this guy:
        .me
        .byline
          a(href='http://codename.io') http://codename.io
          a(href='https://twitter.com/glenmaddern') @glenmaddern
          a(href='http://github.com/geelen') geelen

    section(data-bespoke-state='')
      .content
        .byline
          .classy Who am I?
        .steps(data-bespoke-bullet)
          h2(data-bespoke-bullet) • Hated the web (~2005)
          h2(data-bespoke-bullet) • Yay maths! (~2008)
          h2(data-bespoke-bullet) • Web, eh? (~2010)
          h2(data-bespoke-bullet) • Startups, eh? (~2011)
          h2(data-bespoke-bullet) • Front-end eh? (~2013)
        .unbrokenline

    section(data-bespoke-state='')
      .content(data-bespoke-bullet)
        .byline
          .classy What excites me?
        .steps
          .step(data-bespoke-bullet)
            h2 Designers
          .step(data-bespoke-bullet)
            .byline
              .classy +
            h2 Engineers
          .step(data-bespoke-bullet)
            .byline
              .classy working
            h2
              strong together
            .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy My Rule #1
        h2 the
          strong  closer
          |  designers + engineers work
        .unbrokenline
        h2 the
          strong  better
          |  they understand each other
        .unbrokenline
        h2 the
          strong  better
          |  the result
        .unbrokenline

    section(data-bespoke-state='')
      .content
        h2 Grids affect both design & build
        h2 Usually chosen early on
        h2 Hard to change later

    section(data-bespoke-state='')
      .content
        h2 There are a lot of grid systems out there
        h2 We're going to look at a few, then build our own

    section(data-bespoke-state='')
      .content
        h2 First up,
        h2 We're going to look at how a few work, then build our own
    section(data-bespoke-state='')
      .content
        h2 Two main types, fixed and fluid
        h2 Three responsiveness levels, fixed, fixed + mobile, flexible
    section(data-bespoke-state='')
      .content
        h2 First up, fixed + fixed!
        h2 http://960.gs/demo.html
    section(data-bespoke-state='')
      .content
        h2 Next, fluid + fixed
        h2 Always X columns, columns resize
        h2 http://purecss.io/grids/#grids-on-mobile
    section(data-bespoke-state='')
      .content
        h2 First up,
        h2 We're going to look at how a few work, then build our own

    section(data-bespoke-state='')
      .iframe-holster
        h4 http://yeoman.io
        iframe(src='http://yeoman.io/')

    section(data-bespoke-state='success')
      .content
        .unbrokenline
        h1
          strong Thank You!
        .unbrokenline

    section(data-bespoke-state='')
      .content
        .byline
          .classy Also:
        h1
          strong ngMelb
          |  is next Wednesday
        .byline
          .classy &
        h1
          strong CampJS
          |  is August 9th
        .unbrokenline

    section(data-bespoke-state='copter')
      .content
        .byline
          .classy For more information:
        h3 https://github.com/geelen/assemble-talk
        .byline
          .classy or hit me up on Twitter
        .me
        h3
          a(href='https://twitter.com/glenmaddern') @glenmaddern
